[Unit]
Description=DB Sync Container for Preview environment
Wants=network-online.target
After=network-online.target preview-postgres.service preview-pool.container

[Container]
ContainerName=preview-db-sync
EnvironmentFile=/opt/cardano/preview/.env
Image=preview-db-sync.image
Pod=preview-partner-chain.pod
Volume=preview-ccio-sockets.volume:/node-ipc:rw,z
Volume=preview-db-sync-data.volume:/var/lib:rw,z

[Service]
Restart=unless-stopped
ExecStartPre=sleep 5

[Install]
WantedBy=multi-user.target
